#board {
    text-align: center;
    padding-top: 3em;
}

body {
    background-color: wheat;
}

.row > div {
    height: 100px;
    width: 100px;
    float: left;
    cursor: pointer;
    font-size: 75px;
    color: rgb(53, 53, 53);
    font-family: Helvetica;
}

h3 {
    font-family: Helvetica;
    color: rgb(130, 0, 0);
    font-size: 30px;
}

h1 {
    font-family: Helvetica;
    color: rgb(53, 53, 53);
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}

.top-left {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.top-middle {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.top-right {
    border-bottom: 1px solid black;
}

.center-left {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.center {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.center-right {
    border-bottom: 1px solid black;
}

.bottom-left {
    border-right: 1px solid black;
}

.bottom-right {
    border-left: 1px solid black;
}